*{
    margin : 0;
    padding : 0;
    box-sizing : border-box;
    font-family: 'Poppins', sans-serif;
}

.hero--section{
    background: url(images/heroSectionBackground.png);
    min-height: 60vh;
    color: white;
    background-position: center;
    background-size: cover;
}

.navbar{
    display: flex;
    justify-content: space-between;
    padding: 16px 68px;
    height: 60px;
    align-items: center;
}

.navbar--menu-container{
    display: flex;
    gap: 20px;
    justify-content: center;
    align-items: center;
}

.navbar a{
    text-decoration: white;
    color: white;
    font-weight: 300;
}

.user--icon{
    display : none;
}

@media only screen and (max-width : 600px) {
    .navbar--menu-container .link{
        display: none;
    }
    
    .navbar{
        padding : 16px;
    }

    .hero--section{
        min-height: 80vh;
    }

    .user--icon{
        height: 30px;
        width: 30px;
        border: 1px solid white;
        border-radius: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    
}

